.collaborators-container {
    padding: 10px 15px 15px 15px; 
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
}

.collaborators-form {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    justify-content: center;
    margin-top: 10px;;
}

.collaborator-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 14px;
    flex: 1;
    height: 120px;
    padding-top: 20px;
    color: var(--text-color);
    border-radius: var(--inner-radius);
    background: linear-gradient(to bottom, #29292938, #03000e22) padding-box,
    linear-gradient(to top, #5e5e5e75, #03000e22) border-box;
    border-top: solid 1px rgba(115, 115, 115, 0.5);
    border-left: solid 1px rgba(115, 115, 115, 0.5);
    border-right: solid 1px rgba(115, 115, 115, 0.5);
    /* margin: 5px 5px 5px 5px; */
}

.collaborator-card:hover {
    color: var(--text-color);
    border-radius: var(--inner-radius);
    background: linear-gradient(to bottom, #7d7c7c38, #03000e22) padding-box,
    linear-gradient(to top, #5e5e5e75, #03000e22) border-box;
    border-top: solid 1px rgba(115, 115, 115, 0.5);
    border-left: solid 1px rgba(115, 115, 115, 0.5);
    border-right: solid 1px rgba(115, 115, 115, 0.5);
}

.collaborator-card a {
    text-decoration: none;
}

