rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	
    // Allow create access to the users collection for unauthenticated users
    match /users/{userId} {
      allow create: if request.auth == null;
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  
    // Allow read and write access to authenticated users
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    // Allow each user to access their own files
    match /thumbnails/{userId}/{fileName} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}