
.new-comments-container a {
    text-decoration: none;
    color: inherit;
  }

.comment-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-avatar .avatar {
    width: 30px;
    height: 30px;
}

.comment-form {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.comment-form a {
    text-decoration: none;
}


.comment-info {
    margin-left: 10px;
}

.comment-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
