.project-details {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
    padding: 5px 0px;
    margin: 10px auto; /* Auto margins horizontally center the component */
    max-width: 800px; /* Set maximum width as needed */
    min-width: 300px; /* Set minimum width as needed */
    width: 100%;
}

/* PROJECT SUMMARY ---------------------------------- */

.project-summary {
    padding: 20px;
}

.project-summary > * {
    display: flex;
    margin-bottom: 20px;
}

.title-section {
    flex-direction: column;
}

.project-breakdown {
    gap: 20px;
}

.project-breakdown p {
    margin: 0px !important;    
}

.project-breakdown h4 {
    margin-bottom: 5px;
}

.project-breakdown > * {
    align-items: center;
}

.due-date-section p {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
}

.project-category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
}

.project-breakdown .Open {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    color: black;
}

.project-summary .In {
    display: inline-block;
    padding: 5px 10px;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.project-summary .Complete {
    display: inline-block;
    padding: 5px 10px;
    color: var(--text-color);
    width: 80px;
    border-radius: 30px;
    background-color: var(--third-color);
}

.project-summary .assigned-users {
    display: flex;
    flex-direction: column;
    Margin-bottom: 20px;
    padding: 10px 0px;
    border-bottom: .75px solid rgba(79, 79, 79, 0.444);
}

.assigned-users .users-avatars{
    display: flex;
}

.project-summary .assigned-users .avatar {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.description-section {
    flex-direction: column;
}

.project-buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px
}

/* PROJECT COMMENTS ---------------------------------- */


.project-comments-wrapper {
    border-top: .75px solid #ffffff25;
}

.project-comments{
    padding: 10px;
    margin: 10px;
}

.project-comments label {
    margin-bottom: 5px;
}

.project-comments textarea {
    max-width: 1fr;
    min-height: 40px;
    font-family: Poppins, sans-serif !important;
    color: var(--text-color)
}

.projects-comments li {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid black;
    margin-top: 20px;
    box-shadow: 3px 3px 5px black;
    background: grey;
}

.project-comment {
    margin: 20px 0px;
}

.project-comment p {
    color: var(--text-color);
}

.comment-author {
    display: flex;
    color: var(--title-color);
}

.comment-author .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.author-details {
    display: flex;
    flex-direction: row;
}

.author-details > * {
    padding-right: 10px;
}


.author-details p {
    color: grey;
}

.custom-textarea {
    border-radius: var(--inner-radius);
    background: #55555544;
    font-size: 14px;
    border: .75px solid rgba(79, 79, 79, 0.444);

}

.custom-textarea::placeholder {
    font-family:  Poppins, sans-serif; /* Change "Your Font Name" to your desired font */
    font-size: 14px; /* Change the font size as needed */
    color: grey; /* Change the color as needed */
    
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .project-details {
        max-width: 90%; /* Adjust maximum width for smaller screens */
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    .project-details {
        max-width: 100%; /* Adjust maximum width for smaller screens */
    }
}


/* Media query for even smaller screens */
@media screen and (max-width: 390px) {
    .project-breakdown{
        display: flex;
        flex-direction: column;
    }
}