.project-details {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
    padding: 5px 0px;
    margin: 10px;
}

.project-summary {
    padding: 20px;
}

.project-summary .due-date {
    margin: 10px 0;
    font-size: 0.9em;
}

.project-summary .details {
    line-height: 1.8em;
    font-size: 0.9em;
}

.project-summary h4 {
    font-size: 0.9em;
}

.project-summary .assigned-users {
    display: flex;
    margin-top: 20px;
}

.project-summary .assigned-users .avatar {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.project-summary .btn {
    margin-top: 20px;
}

.project-comments-wrapper {
    border-top: .75px solid #ffffff25;
}

.project-comments{
    padding: 10px;
    margin: 10px;
}

.project-comments label {
    margin-bottom: 5px;
}

.project-comments textarea {
    max-width: 520px;
    min-height: 40px;
    font-family: Poppins, sans-serif !important;
    color: var(--text-color)
}

.project-comments h4 {
    color: var(--heading-color);
}

.projects-comments li {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid black;
    margin-top: 20px;
    box-shadow: 3px 3px 5px black;
    background: grey;
}

.project-comment {
    margin: 20px 0px;
}

.project-comment p {
    color: var(--text-color);
}

.comment-author {
    display: flex;
    color: var(--title-color);
}

.comment-author .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.author-details {
    display: flex;
    flex-direction: row;
}

.author-details > * {
    padding-right: 10px;
}



.author-details p {
    color: grey;
}

.custom-textarea {
    border-radius: var(--inner-radius);
    background: #55555544;
    font-size: 14px;
    border: .75px solid rgba(79, 79, 79, 0.444);

}

.custom-textarea::placeholder {
    font-family:  Poppins, sans-serif; /* Change "Your Font Name" to your desired font */
    font-size: 14px; /* Change the font size as needed */
    color: grey; /* Change the color as needed */
    
}

