.collaborators-container {
    margin: 10px;
    padding: 10px;
    background-color: var(--form-background-color);
    border-radius: var(--outer-radius);
}

.collaborators-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Ensure items wrap to the next line */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-auto-rows: minmax(150px, auto);
}

.collaborator-card {
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    margin: 5px;
    border-radius: var(--inner-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.collaborator-avatar,
.user-displayname,
.uesr-role {
    align-items: center;
}

.user-displayname {
    font-weight: 600;
}

.collaborators-container h3 {
    padding-left: 10px;
}