.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-area: main;
    grid-gap: 10px;
    margin: 10px auto;
    max-width: 1160px;
    width: 100%;
    min-height: 100vh;
    align-items: stretch;
    justify-items: stretch;
    /* background-color: rgba(234, 78, 78, 0.205); */
}

.overview {
    grid-area: overview;
    align-self: stretch;
}

.small-cal {
    grid-area: calendar;
    align-self: stretch;
}

.tasks {
    grid-area: tasks;
}

.comments {
    grid-area: comments;
}

.my-projects {
    grid-area: projects;
}

.collabs {
    grid-area: collabs;
}

.dashboard-container {
grid-template-areas:
    "overview  tasks comments"
    "overview  tasks comments"
    "overview  tasks comments"
    "calendar projects collabs"
    "calendar projects collabs"
    "calendar projects collabs"
}