.dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "overview tasks tasks tasks"
        "small-call comments comments comments"
        "small-cal collabs collabs collabs"
        "small-call collabs collabs collabs";
}

