.meetings-container{
    border-style: solid;
    background: linear-gradient(to bottom, #27272c, #27272c3e) padding-box,
    linear-gradient(to top, #4f4f4f7a, #ffffff25) border-box;
    border: .75px solid transparent;    
    border-radius: var(--outer-radius);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.meetings-container h4 {
    margin: 20px;
}