.new-comments-container {
    margin: 10px;
    padding: 10px;
    background-color: var(--form-background-color);
    border-radius: var(--outer-radius);
}

.new-comments-container h3 {
    padding-left: 10px;
}

.comment-form {
    background-color: var(--primary-color);
    margin: 10px;
    padding: 10px;
    border-radius: var(--inner-radius);
    display: flex;
    flex-direction: row;
}

.comment-info {
    margin-left: 10px;
}