.new-comments-container {
    margin: 10px;
    padding: 10px;
    border-radius: var(--outer-radius);
    border-style: solid;
    background: linear-gradient(to bottom, #27272c, #27272c3e) padding-box,
    linear-gradient(to top, #4f4f4f7a, #ffffff25) border-box;
    border: .75px solid transparent;
}

.new-comments-container h3 {
    padding-left: 10px;
}

.comment-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-avatar .avatar {
    width: 30px;
    height: 30px;
}

.comment-form {
    background-color: var(--bg-secondary-color);
    margin: 10px;
    padding: 20px;
    border-radius: var(--inner-radius);
    display: flex;
    flex-direction: row;
}

.comment-info {
    margin-left: 10px;
}

.comment-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}