.overview-container {
  display: flex;
  padding: 20px;
  border-radius: var(--outer-radius);
  background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
  border-style: solid;
  border: .75px solid rgba(79, 79, 79, 0.444);
}

.completed-stack,
.progress-stack {
  padding-right: 20px;
}