

.overview-container {
    background-color: var(--form-background-color);
    display: flex;
    padding: 20px;
    margin: 10px;
    border-radius: var(--outer-radius);
}

.total-stack,
.completed-stack,
.progress-stack {
    padding-right: 20px;
}