.prioritylist-container {
  margin: 10px;
  padding: 10px;
  border-radius: var(--outer-radius);
  color: var(--text-color);
  background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
  linear-gradient(to top, #6262623b, #03000e22) border-box;
}

.prioritylist-container h3 {
  padding-left: 10px;
}

.task-form {
  margin: 10px;
  padding: 10px;
  border-radius: var(--inner-radius);
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #29292938, #2929297f) padding-box,
  linear-gradient(to top, #6262623b, #03000e22) border-box;
  border: 1px solid transparent;
  border-image: linear-gradient(white, transparent) ;
  border-image-slice: 1;
  border-style: solid;
}

.task-form .pastDue {
  font-weight: bold;
  color: rgb(255, 120, 120);
}

.task-form .inProgress {
  color: var(--text-color);
}

/* style for the link */
.task-container a {
  text-decoration: none;
  color: inherit;
}