.prioritylist-container {
    margin: 10px;
    padding: 10px;
    background-color: var(--form-background-color);
    border-radius: var(--outer-radius);
}

.prioritylist-container h3 {
    padding-left: 10px;
}

.task-form {
    background-color: var(--primary-color);
    margin: 10px;
    padding: 10px;
    border-radius: var(--inner-radius);
    display: flex;
    justify-content: space-between;
  }
  
  .task-form .pastDue {
    font-weight: bold;
    color: rgb(255, 120, 120);
  }

  .task-form .inProgress {
    color: var(--text-color);
  }
  
  /* style for the link */
  .task-container a {
    text-decoration: none;
    color: inherit;
  }
  
  
  