.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-content {
    display: flex;
}

.home-left-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 420px;
}

.home-left-content h1 {
    color: var(--bg-secondary-color);
    text-align: center;
}

.home-left-content > * {
    color: var(--text-color);
}

.home-text {
    text-align: center;
}

.home-img {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    width: 100%
}

.home-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 420px;
    background: linear-gradient(to bottom, #2929297f, #29292927) padding-box,
    linear-gradient(to top, #29292927, #03000e22) border-box;
    border: .75px solid rgba(79, 79, 79, 0.444);
    border-style: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* z-index: 2; */
    backdrop-filter: blur(2rem);
}

.switch-login {
    cursor: pointer;
}

.switch-login:hover {
    color: var(--primary-color)
}



/* Responsiveness */

@media screen and (max-width: 1440){

    .home-content {
        max-width: 500px;
    }

}


@media screen and (max-width: 800px){

    .home-content {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
    }

    .home-left-content {
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: rgb(255, 255, 255);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        min-height: 200px;
    }

    .home-img {
        width: 300px;
        height: 300px;
    }

    .home-right-content {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media screen and (max-width: 430px){

    .home-content {
        display: flex;
        flex-direction: column;
        margin:10px;
    }

    .home-left-content {
        background: rgba(255, 255, 255, 0);
        padding: 10px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        max-height: 200px;
    }

    .home-right-content {
        border-radius: 20px;
    }

    .home-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 390px){
 
    .home-content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin:20px;
        min-width: 200px;
    }

    .home-left-content {
        background: transparent;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .home-img {
        width: 300px;
    }
    
    .home-img img {
        width: 100%;
    }

    .home-right-content {
        border-radius: 20px;
    }
}