.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border: .75px solid rgba(79, 79, 79, 0.444);
    border-style: solid;
    border-radius: 30px;
}

.home-left-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    justify-content: center;
}

.home-left-content h1 {
    color: var(--bg-secondary-color);
    text-align: center;
}

.home-left-content > * {
    color: var(--text-color);
    margin: 0 auto;
}

.home-text {
    text-align: center;
}

.home-img {
    width: 350px;
    height: 350px;
}

.home-img img {
    width: 100%
}

.home-right-content {
    padding: 20px;
}

.switch-login {
    cursor: pointer;
}

.switch-login:hover {
    color: var(--primary-color)
}


/* Responsiveness */

@media screen and (max-width: 800px){

    .home-content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }

    .home-left-content {
        background: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home-img {
        width: 300px;
        height: 300px;
    }
    
    .home-img img {
        width: 100%;
    }

    .home-right-content {
        width: 100%; /* Set the same width as home-left-content */
    }
}

@media screen and (max-width: 430px){

    .home-content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin:20px;
        min-width: 200px;
    }

    .home-left-content {
        background: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home-img {
        width: 300px;
        height: 300px;
    }
    
    .home-img img {
        width: 100%;
    }

    .home-right-content {
        width: 100%; /* Set the same width as home-left-content */
    }
}

@media screen and (max-width: 390px){

    .home-content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        margin:20px;
        min-width: 200px;
    }

    .home-left-content {
        background: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home-img {
        width: 300px;
        height: 300px;
    }
    
    .home-img img {
        width: 100%;
    }

    .home-right-content {
        width: 100%; /* Set the same width as home-left-content */
    }
}