.projects-dash-container {
    display:flex;
    flex-direction: column;
    margin: 10px;
}

input[type=text]:focus,
input[type=date]:focus,
textarea[type=text]:focus
{
    outline: 2px solid orange;
}

/* NAV BAR ------------------- */

.projects-dash-navbar {
    display: flex;
    margin-bottom: 10px;
}

.projects-dash-navbar button {
    margin-right: 10px; 
}

.project-filter nav {
    display: flex;
    /* padding: 10px; */
    background-color: var(--background-color);
    border-radius: 4px;
}

.project-filter p {
    font-size: 0.9em;
    margin-right: 10px;
}

.project-filter button {
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
      linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: none;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
}
.project-filter button:hover {
    background: #82828241;
}

.project-filter button.active {
    color: var(--primary-color);
    background: #82828241;
    border-bottom: 3px solid var(--primary-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/* UPPER DASH ---------------- */
.project-stats-comments-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/* PROJECT STATS ------------- */
.status-container {
    padding: 10px 20px 20px 20px;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
      linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
    height: 230px;
}

.status-container .status-title {
    align-items: center;
    margin-bottom: 10px;
}

.status-form {
    padding: 10px;
    border-radius: var(--inner-radius);
    background: linear-gradient(to bottom, #29292938, #03000e22) padding-box,
    linear-gradient(to top, #5e5e5e75, #03000e22) border-box;
    border-top: solid 1px rgba(115, 115, 115, 0.5);
    border-left: solid 1px rgba(115, 115, 115, 0.5);
    border-right: solid 1px rgba(115, 115, 115, 0.5);
    display: flex;
    justify-content: space-between;
}

.bullet-container {
    display: flex;
    align-items: center;
}

.open-pt,
.progress-pt,
.complete-pt {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: white;
    border: solid 1px rgba(79, 79, 79, 0.444);
}

.open-pt {
    background-color: var(--secondary-color);
}

.progress-pt {
    background-color: var(--primary-color);
}

.complete-pt {
    background-color: var(--third-color);
}


/* PROJECT COLLECTIONS -------------- */
.project-container {
    margin-top: 10px;
    padding: 20px;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
      linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
}

.project-list-body-body {
    display:flex;
    flex-direction: column;
}

.open-projects-container {
    margin-top: 10px;
    display: grid;
    /* grid-template-columns: repeat(3, 200px);  */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.closed-projects-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.project-info a {
    text-decoration: none;
    color: var(--text-color);
}

.project-info .avatar{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.project-list-body h4 {
    font-size: 0.9em;
    color: var(--heading-color);
}

.project-list-body p {
    color: var(--text-color);
    font-size: 0.9em;
}

.project-list-body .assigned-to {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.project-list-body ul {
    margin: 10px 0;
    display: flex;
}

.project-list-body li {
    margin-right: 10px;
}

.project-list-body .avatar {
    width: 25px;
    height: 25px;
}

.project-team-wrapper {
    display: flex;
}


/*  TABLE --------------------------------------- */
.project-table {
    color: var(--text-color);
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--inner-radius);
    border-right: 1px solid #cccccc7b;
    border-left: 1px solid #cccccc7b;
}

.project-info:hover {
    background-color: rgba(255, 255, 255, 0.167);
}

td .Open {
    width: 60px;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    color: black;
}

td .In {
    width: 90px;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--primary-color);
}


td .Closed {
    color: var(--text-color);
    width: 60px;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--third-color);
}

.online-dot {
    content: '';
    background-color: green;
}