.sidebar {
    width: 250px;
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    min-height: 100vh; 
    transition: var(--transition-default);
}

.navigation {
    margin-top: 10px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo.nav-link-icon{
    width: 40px;
    height: 40px;
}

.sidebar-change {
    margin-left: -260px;
    transition: var(--transition-default);
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 14px;
    column-gap: 12px;
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
    background: #55555544;
}

.nav-link.active {
    color: var(--primary-color);
    background: #55555544;
    border-right: 5px solid var(--primary-color);
}

.nav-link-icon {
    width: 30px;
}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 72px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .sidebar-change {
        margin-left: -100px;
    }
    .info-name {
        display: none;
    }
    .nav-item{
        display: flex;
        justify-content: center;
        margin-bottom: 18px;
    }
    .nav-link{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }
    .nav-link-text {
        display: none;
    }
    .nav-link.active {
        border-radius: 100%;
        padding: 10px;
        border-right: 0px solid transparent;
    }
}

@media screen and (max-width: 430px) {
    .sidebar {
      min-height: 100vh; 
    }
    .sidebar-change {
      margin-left: -75px;
    }
}

/**

*/
/* content is fixed inside the sidebar */
/* .sidebar-content {
    width: inherit;
}

.sidebar .links a .arrow {
    width: 20px; 
    height: 20px;
    margin-left: auto; 
}

.sidebar .links {
    margin-top: 20px;

}

.sidebar .links li {
    margin-top: 10px;
}

.sidebar .links a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: var(--text-color);
    box-sizing: border-box;
    align-items: center;
}

.sidebar .links a:hover {
    background: #55555544;
}


.sidebar .links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(100%);
}

.sidebar .links a.active {
    color: var(--primary-color);
    background: #55555544;
    border-right: 5px solid var(--primary-color);
    box-sizing: border-box;
    width: calc(100%);
} */
