:root {
    --calendar-line: 1px solid rgba(115, 115, 115, 0.5);
}

.calendar-dash-container {
    color: white;
    font-family: Poppins, sans-serif !important;
    /* font-size: bold; */
}

.calendar-dash-container .btn {
    margin-bottom: 10px;
}

.big-calendar-container {
    padding: 20px;
    margin-top: 10px;
    border-radius: var(--inner-radius);
    background: linear-gradient(to bottom, #29292938, #03000e22) padding-box,
    linear-gradient(to top, #5e5e5eaa, #03000e22) border-box;
    border-top: solid 1px rgba(115, 115, 115, 0.5);
    border-left: solid 1px rgba(115, 115, 115, 0.5);
    border-right: solid 1px rgba(115, 115, 115, 0.5);
}

.rbc-btn-today button,
.rbc-btn-group button {
    border: var(--calendar-line) !important;
}

.rbc-btn-today button:hover,
.rbc-btn-group .btn-arrows:hover,
.rbc-btn-group .views button:hover,
.rbc-toolbar button:hover {
    background: rgba(79, 79, 79, 0.444) !important;
}

.rbc-header {
    background: rgba(50, 17, 168, 0.612);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}


.rbc-today {
    background-color:rgba(110, 104, 134, 0.212) !important;
}

.rbc-month-view {
    border: 1px solid rgba(255, 255, 255, 0.253) !important;
}

.rbc-month-row {
    border-top: var(--calendar-line) !important;
}

.rbc-day-bg {
    border-left: var(--calendar-line) !important;
}

.rbc-event {
    border:none !important;
    background-color: #FF6525 !important;
    /* !important to override */
}

.rbc-event-content a {
    text-decoration: none !important;
}

.event-display-container {
    display: flex;
}

.event-display-container h5{
    color: white;
}

.rbc-day-bg .rbc-today {
    background-color: red !important;
    color: var(--primary-color) !important;
}

.rbc-show-more {
    background-color: transparent !important;
    color: white !important;
}

.rbc-off-range-bg {
    background-color: rgba(11, 6, 31, 0.395) !important;
}

.rbc-day-slot .rbc-events-container {
    margin-right: 0px !important;
}

.rbc-toolbar-label {
    color: var(--text-color) !important;
    font-weight: bold !important;
}

.rbc-label{
    color: var(--text-color) !important;

}

.rbc-toolbar button {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color) !important;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: #FF6525 !important;
}

.rbc-current-time-indicator {
    height: 2px !important;
    background-color: #7521FF !important;
}

.rbc-time-view {
    border: var(--calendar-line) !important;
}

.rbc-header {
    border-left: var(--calendar-line) !important;
    border-bottom: var(--calendar-line) !important;
}

.rbc-time-header.rbc-overflowing {
    border-right:var(--calendar-line) !important;
}

.rbc-time-header-content {
    border-left: var(--calendar-line) !important;
}

.rbc-time-content > * + * > * {
    border-left: var(--calendar-line) !important;
}

.rbc-timeslot-group {
    border-bottom: var(--calendar-line)!important;
}

.rbc-day-slot .rbc-time-slot {
    border-top: 1px dashed rgba(115, 115, 115, 0) !important;
}

.rbc-time-content {
    border-top: var(--calendar-line)!important;
}

.start-end-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start-end-input-container p {
    margin: 0px 10px;
}

.rbc-date-cell {
    color: var(--text-color)
}


/* CREATE EVENT FORM ------------------------------------ */
.create-event-wrapper{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.create-event-container {
    margin: 10px;
    padding: 20px;
    max-width: 600px;
    min-width: 400px;
}


/* FLATPICKER STTYLES -----------------------------------*/

.flatpickr-calendar {
    background-color: #1e1e1ee8 !important;
    /* Set the background color you want */
    backdrop-filter: blur(20px) !important;
    font-family: Poppins, sans-serif !important;
    border: none !important;
    box-shadow: 1px 0 0 #545454, -1px 0 0 #545454, 0 1px 0 #545454, 0 -1px 0 #545454, 0 3px 13px rgba(0, 0, 0, 0.08) !important;
}

.flatpickr-month,
.flatpickr-day {
    font-family: Poppins, sans-serif !important;
    color: white !important;
}

.flatpickr-day:hover {
    color: black !important;
}

.flatpickr-day.selected {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff;
}


.flatpickr-monthDropdown-months {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

.flatpickr-weekday {
    color: white !important;
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
    fill: white !important;
}

.flatpickr-next-month svg:hover,
.flatpickr-prev-month svg:hover {
    fill: var(--primary-color) !important;
}

.flatpickr-calendar.hasTime .flatpickr-time {
    border-top: 1px solid #545454 !important;
}

.flatpickr-time input,
.flatpickr-time-separator,
.flatpickr-am-pm
 {
    color: white !important;
}

 
.flatpickr-time input:hover,
.flatpickr-time-separator:hover,
.flatpickr-am-pm:hover {
    background-color: var(--primary-color) !important;
}

.flatpickr-am-pm {
    background-color: var(--primary-background-color) !important;
}


@media screen and (max-width: 430px) {
    .big-calendar-container{
        width: 350px;
    }

  .rbc-toolbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 414px) {
    .big-calendar-container{
        width: 330px;
    }

  .rbc-toolbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 390px) {
    .big-calendar-container{
        width: 300px;
    }

  .rbc-toolbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .start-end-input-container{
    display: flex;
    flex-direction: column;
  }
  
}