.calendar-dash-container {
    margin: 10px;
    color: white;
    font-family: Poppins, sans-serif !important;
    /* font-size: bold; */
}

.calendar-dash-container .btn {
    margin-bottom: 10px;
}

.big-calendar-container {
    padding: 20px;
    border-radius: var(--inner-radius);
    background: linear-gradient(to bottom, #29292938, #03000e22) padding-box,
    linear-gradient(to top, #5e5e5eaa, #03000e22) border-box;
    border-top: solid 1px rgba(115, 115, 115, 0.5);
    border-left: solid 1px rgba(115, 115, 115, 0.5);
    border-right: solid 1px rgba(115, 115, 115, 0.5);
}


.rbc-header {
    background: rgba(50, 17, 168, 0.612);
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.rbc-month-view {
    border: 1px solid rgba(255, 255, 255, 0.253) !important;
}

.rbc-event {
    background-color: orange !important;
    /* !important to override */
}

.rbc-today {
    background-color: rgba(148, 148, 148, 0.367) !important;
}

.rbc-show-more {
    background-color: transparent !important;
    color: white !important;
}

.rbc-off-range-bg {
    background-color: rgba(11, 6, 31, 0.395) !important;
}

.rbc-day-slot .rbc-events-container {
    margin-right: 0px !important;
}


.rbc-toolbar button {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color) !important;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: rgba(255, 153, 0, 0.937) !important;
}


.start-end-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start-end-input-container p {
    margin: 0px 10px;
}

/* CREATE EVENT FORM ----------------------- */

.create-event-container {
    margin: 10px;
    padding: 20px;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
}



/* FLATPICKER STTYLES */

.flatpickr-calendar {
    background-color: #1e1e1ee8 !important;
    /* Set the background color you want */
    backdrop-filter: blur(20px) !important;
    font-family: Poppins, sans-serif !important;
    border: none !important;
    box-shadow: 1px 0 0 #545454, -1px 0 0 #545454, 0 1px 0 #545454, 0 -1px 0 #545454, 0 3px 13px rgba(0, 0, 0, 0.08) !important;
}

.flatpickr-month,
.flatpickr-day {
    font-family: Poppins, sans-serif !important;
    color: white !important;
}

.flatpickr-day:hover {
    color: black !important;
}

.flatpickr-day.selected {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff;
}


.flatpickr-monthDropdown-months {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
}

.flatpickr-weekday {
    color: white !important;
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
    fill: white !important;
}

.flatpickr-next-month svg:hover,
.flatpickr-prev-month svg:hover {
    fill: var(--primary-color) !important;
}

.flatpickr-calendar.hasTime .flatpickr-time {
    border-top: 1px solid #545454 !important;
}

.flatpickr-time input,
.flatpickr-time-separator,
.flatpickr-am-pm
 {
    color: white !important;
}


.flatpickr-time input:hover,
.flatpickr-time-separator:hover,
.flatpickr-am-pm:hover {
    background-color: var(--primary-color) !important;
}

.flatpickr-am-pm {
    background-color: var(--primary-background-color) !important;
}