.create-form {
    margin-top: 50px;
    background-color: var(--primary-color);
    color: var(--text-color);
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
}

.assigned-user-option {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.assigned-user-option img {
    width: 30px;
    height: 30px;
}

.assigned-user-option p {
    padding-left: 10px;
    color: black;
}