.navbar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(139, 139, 139);
    background-color: #03000ebb; /* Set the background color you want */
    backdrop-filter: blur(20px);
    z-index: 2; /* Ensure the Navbar is on top of other components */
    position: sticky;
    top: 0;
}

.left-nav-container {
    display: flex;
    align-items: center;
}

.left-nav-container .avatar {
    margin-right: 10px;
}

.left-nav-container h4 {
    margin-right: 20px;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}

.navbar .logo {
    font-weight: bold;
    color: var(--heading-color);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar .logo img {
    margin: 0px 10px;
    filter: invert(25%);
    width: 30px;
    margin-top: -8px;
}

.navbar a {
    color: var(--heading-color);
    text-decoration: none;
    margin-right: 20px;
}