.user-list {
    width: 250px;
    min-width: 250px;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    color: var(--heading-color);
}

.user-list h2 {
    text-align: left;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
}

.user-list .user-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}

.user-list .avatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.avatar-online-container {
    position: relative; /* Add relative positioning */
    display: inline-block;
}

.user-list .online-user {
    position: absolute; /* Position absolutely within the container */
    bottom: 3px; /* Align to the bottom edge */
    right: 7px; /* Align to the right edge */
    width: 12px;
    height: 12px;
    background: rgb(112, 241, 112);
    border-radius: 50%;
    margin: 2px; /* Adjust margin for spacing */
  }