.sidebar {
    width: 250px;
    min-width: 250px;
    border-style: solid;
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border: .75px solid transparent; 
    /* full height of the screen */
    min-height: 100vh; 
    box-sizing: border-box;
    position: relative;
}

/* content is fixed inside the sidebar */
.sidebar-content {
    width: inherit;
}

.sidebar .links a .arrow {
    width: 20px; /* Adjust the width as desired */
    height: 20px; /* Adjust the height as desired */
    margin-left: auto; /* Move the arrow image to the end of the container */
}

.sidebar .links {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar .links li {
    margin-top: 10px;
}

.sidebar .links a {
    display: flex;
    justify-content: space-between; /* Align items along the start and end */
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: var(--text-color);
    box-sizing: border-box;
    align-items: center;
}


.sidebar .links img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: invert(100%);
}

.sidebar .links a.active {
    color: #555;
    background: var(--primary-color);
    border-radius: 20px 20px 20px 20px;
}

.sidebar .links .active img {
    filter: invert(40%);
}