.over-view-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--outer-radius);
  background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
  linear-gradient(to top, #6262623b, #03000e22) border-box;
  border-style: solid;
  border: .75px solid rgba(79, 79, 79, 0.444);
}

.overview-container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.completed-stack,
.progress-stack,
.open-stack {
  padding-left: 10px;
  padding-right: 10px;
}

.completed-stack h4{
  border-bottom: solid 5px var(--third-color)
}

.progress-stack h4{
  border-bottom: solid 5px var(--primary-color)
}

.open-stack h4{
  border-bottom: solid 5px var(--secondary-color)
}



.bookmarks-container{
  margin-top: 10px;
}

.fav-projects {
  display: flex;
  justify-content: space-between;
}

.add-bookmark-btn{
  width: 20px;
  height: 20px;
}