.meeting-info-wrapper {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.meeting-info-container {
    display: flex;
    flex-direction: column;
} 

.meeting-info-container > * {
    padding-top: 10px;
    padding-bottom: 10px;
}


.meetings-container{
    display: flex;
    flex-direction: column;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
    linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
    padding: 20px;
}

.meetings-container p {
    margin-top: 10px;
    align-items: center;
}

.meetings-wrapper .and-more-link{
    display: flex;
    justify-content: flex-start;
    align-items: self-end;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}

.meeting-wrapper {
    margin: 10px 0px;
    padding: 5px;
}

.meeting-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff25;
}

.meeting-wrapper:hover .meeting-container{
    border-bottom: 1px solid var(--primary-color);
}
.meeting-wrapper:hover h4.meeting-title {
    color: var(--primary-color);
}

.meeting-detail {
    margin-top: 5px;
}

.guests-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.guests-container .avatar {
    width: 20px;
    height: 20px;
}



/* Sections ------------------------------------------------ */

.header-section {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.detail-section,
.time-section,
.guest-section,
.response-section {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-section img {
    width: 20px;
    height: 20px;
}

.detail-section img,
.time-section img,
.guest-section .meeting-icon {
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.guest-section img {
    width: 30px;
    height: 30px;
}

.guest-section {
    justify-content: space-between;
}

.guest-section:hover {
    background: #55555544;
}

.guest-count-wrapper {
    display: flex;
    justify-content: space-between;
}

.guest-section .arrow {
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.up-arrow {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}


/*  Drop Menu for Guests --------------------------------- */

.meeting-guests-container{
    padding-left: 60px;
}

.single-guest-container{
    display: flex;
    padding: 5px;
    align-items: center;
}

.guest-image-container {
    position: relative;
    padding-right: 10px; 
}

.guest-image-container .avatar {
    width: 30px;
    height: 30px;
}

.guest-image-container .check-icon {
    position: absolute;
    top: 55%;
    left: 55%;
    z-index: 1;    
    width: 15px;
    height: 15px;
}


/*  Response Section ------------------------------------ */

.response-section{
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(79, 79, 79, 0.444);
}

.response-section .btn {
    width: 50px;
    margin-left: 10px;
}

.btn.activated {
    background:  rgba(79, 79, 79, 0.444);
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    border: .75px solid rgba(79, 79, 79, 0.444);
}
.btn.activated:hover {
    background:  rgba(79, 79, 79, 0.444) !important;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    border: .75px solid rgba(79, 79, 79, 0.444);
}