.task-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-form .pastDue {
  font-weight: bold;
  color: rgb(255, 120, 120);
}

.task-form .inProgress {
  color: var(--text-color);
}

.task-container a {
  text-decoration: none;
  color: inherit;
}