.auth-form {
    transition: var(--transition-default);
    min-width: 350px;
    max-width: 350px;
}

.home-text h1 {
    color: var(--primary-color)
}

.auth-form h2 {
    justify-content: flex-start;
}

.auth-form label span {
    color: var(--heading-color);
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-container .form-left,
.form-container .form-right {
    flex: 1; 
}

.signin-option{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.get-started-container {
    width: 100%;
}

.error-container {
    margin-top: 10px;
}

.auth-form button{
    width: 100%;
}

.category-select {
    width: 100%;
}


@media screen and (max-width: 800px){

    .auth-form {
        width: 100%;
    }

}


@media screen and (max-width: 430px){

    .auth-form {
       min-width: 200px;
    }

}