.auth-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--outer-radius);
    background: linear-gradient(to bottom, #2929297f, #2929297f) padding-box,
      linear-gradient(to top, #6262623b, #03000e22) border-box;
    border-style: solid;
    border: .75px solid rgba(79, 79, 79, 0.444);
}

.auth-form h2 {
    justify-content: flex-start;
}

.auth-form label span {
    color: var(--heading-color);
}

.form-container {
    display: flex;
    flex-direction: row;
}

.form-container .form-left,
.form-container .form-right {
  flex: 1; /* Equal distribution of space */
}

.form-container .form-left {
    padding-right: 10px; /* Adjust padding as needed */
}

.upload-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.upload-image-container .btn{
    margin-right: 5px;
}

.category-select {
    width: 100%;
}