body {
  margin: 0;
}

.app {
  min-height: 100vh; /* Ensure the content stretches to fill the screen */
}

.main {
  display: flex;

  /* overflow: hidden; Hide any overflowing content */
}

.accessed-app {
  display: flex;
}