.App {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  min-height: 100vh; /* Ensure the content stretches to fill the screen */
}

.main-content {
  display: flex;
  flex-grow: 1; /* Allow the content to grow and take remaining space */
  overflow: hidden; /* Hide any overflowing content */
}

.App .container{
  flex-grow: 1;
  padding: 0 60px;
}
