@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --bg-color: #03000E;
  --bg-secondary-color: #4b4b4b;
  --form-background-color: #4b4b4b50;
  --primary-color: #FF6525;
  --secondary-color: #FFEE53;
  --third-color: #7521FF;
  --highlight-color: #ff9f21;
  --heading-color: #a9a9a9;
  --text-color: #dddddd;
  --outer-radius: 10px;
  --inner-radius: 5px;
}



/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 14px;
  background-size: 100%;
  /* background: var(--bg-color); */
  background: radial-gradient(circle at left, #ae4619, #5e260e, #0b0707, #0b0707), 
  radial-gradient(circle at bottom right, #25086d, #100431, #0b0707, #0b0707);
  background-size: 50% 100%, 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
}
body::-webkit-scrollbar{
  display: none;
}
ul, li, p, h1, h2, h3, h4 {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: #121420;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  border: .75px solid #4b4b4b;
}
.btn:hover {
  color: #fff;
  background-color: var(--highlight-color);
  border: .75px solid #4b4b4b;
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: rgb(255, 255, 255);
  background: rgb(233, 148, 148);
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}